<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<real>0.458</real>
		<real>0.764</real>
		<real>0.58</real>
	</array>
	<array>
		<real>0.552</real>
		<real>0.552</real>
		<real>0.431</real>
	</array>
	<array>
		<real>0.886</real>
		<real>0.745</real>
		<real>0.517</real>
	</array>
	<array>
		<real>0.901</real>
		<real>0.843</real>
		<real>0.572</real>
	</array>
	<array>
		<real>0.87</real>
		<real>0.596</real>
		<real>0.384</real>
	</array>
	<array>
		<real>0.9330000000000001</real>
		<real>0.588</real>
		<real>0.458</real>
	</array>
	<array>
		<real>0.87</real>
		<real>0.4</real>
		<real>0.341</real>
	</array>
	<array>
		<real>0.776</real>
		<real>0.298</real>
		<real>0.333</real>
	</array>
	<array>
		<real>0.733</real>
		<real>0.321</real>
		<real>0.411</real>
	</array>
	<array>
		<real>0.631</real>
		<real>0.298</real>
		<real>0.447</real>
	</array>
	<array>
		<real>0.588</real>
		<real>0.227</real>
		<real>0.403</real>
	</array>
	<array>
		<real>0.384</real>
		<real>0.227</real>
		<real>0.482</real>
	</array>
	<array>
		<real>0.294</real>
		<real>0.152</real>
		<real>0.439</real>
	</array>
	<array>
		<real>0.552</real>
		<real>0.396</real>
		<real>0.717</real>
	</array>
	<array>
		<real>0.87</real>
		<real>0.486</real>
		<real>0.639</real>
	</array>
	<array>
		<real>0.862</real>
		<real>0.36</real>
		<real>0.545</real>
	</array>
	<array>
		<real>0.482</real>
		<real>0.623</real>
		<real>0.6820000000000001</real>
	</array>
	<array>
		<real>0.341</real>
		<real>0.6</real>
		<real>0.76</real>
	</array>
</array>
</plist>
